<% const year = new Date().getFullYear(); %>

<footer>
  <p>&copy; <%= year %> CSE Motors</p>
</footer>

</body>
</html>

<p>
  <a href="/inv/error" title="Trigger server error">
    Trigger 500 Error
  </a>
</p>
