<nav id="main-nav">
  <ul>
    <li><a href="/" title="Go to Home page">Home</a></li>
    <li><a href="/custom" title="See Custom vehicles">Custom</a></li>
    <li><a href="/sedan" title="See Sedan vehicles">Sedan</a></li>
    <li><a href="/suv" title="See SUV vehicles">SUV</a></li>
    <li><a href="/truck" title="See Truck vehicles">Truck</a></li>
  </ul>
</nav>
